body{
    margin: 0;
    transition: all .4s ease;
    
}

.wrapper{
    
    /* background-color: #9999; */
    align-items: center;
    text-align: center;
    padding-top: 1%;
    padding-bottom: 5%;
    
}
.search-bar{

        text-align: center;
        position: relative; 
    
}
form{
    margin: 1%;
    margin-top: 1%;
   
    
}
input{
    width: 40%;
    padding-left: 10px;
    padding-right: 10px;
    font-size: calc(2*100vw/80);
    outline: none; 
    background: url(loupe.png) no-repeat scroll;
    background-position: 98%;
    background-size: calc(2*100vw/80)


    
}




.user-results{
    background-color: white;
    margin: 0px auto;
    /* border: 1px solid black;  */
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    max-width: 800px; 
    justify-content: center;
    padding: 2%;
    
    
    

}
.user-card{
    min-width:150px;
    min-height: 150px;
    /* border: 1px solid black; */
    margin: 10px;
    border-radius: 20px;
    transition: all .4s ease;
    background-color: rgb(228, 228, 228);
    
}
.user-card:hover{
 /*    width: 160px;
    height: 160px;
    margin: 0px;
    margin-left: 5px;
    margin-right: 5px;
   margin-bottom: -5px; */
   transform: scale(1.14);
   transition: all .4s ease;
   background-color: rgb(240, 240, 239);
   
}


.avatar{
    border-radius: 50%;
    width: 70px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.info{
    margin: 5px;
}

